* {
  margin: 0;
  padding: 0;
}


html {
  width: 100%;
  height: 100%;
}

/* body {
    background-color: #ffffff00;
    font-family: "Open Sans", sans-serif;
    font-size: 20 px;
} */

.top__menu {
    display: flex;
    justify-self: start;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style-type: none;
    justify-content: space-around;
}

.nav__menu {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.nav__menu_img {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center; 
}

.label {
    width: 88px;
    height: 30px;
}

.label .grow-be {
    display: inline-flex;
    /* top: 0; */
    /* left: 0; */
    font-family: "Gilroy-Bold-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    flex-direction: row-reverse;
    align-items: center;
}

.label .text-wrapper {
    color: #000000;
}

.label .span {
    color: #f25822;
}


.nav__menu_menu {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.home__link_menu {
    color: #F25822;
}


.center {
  width: 1274px;
  height: 536px;
}

/* .label {
    width: 522px;
    height: 222px;
  } */
  
.center .text1 {
    /* position: fixed; */
    display: flex;
    width: 520px;
    height: 193px;
    top: 0;
    left: 0;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  
 

.center .text2 {
  display: flex;
  width: 464px;
  height: 43px;
  top: 0;
  left: 0;
}


.center .imeges {
  display: flex;
  width: 1274px;
  height: 536px;
  top: 0;
  left: 0;
  border: 0px solid;
  border-color: #e89c07;
  flex-direction: row-reverse;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}



