.div {
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 60px;
  } 
  .div-3 {
    display: flex;
    margin-bottom: 80px;
    width: 1172px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-4 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  .div-5 {
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }
 .img {
    aspect-ratio: 0.88;
    object-fit: contain;
    object-position: center;
    width: 35px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-6 {
    color: #f25822;
    align-self: center;
    margin: auto 0;
    font: 400 24px Gilroy-Bold, sans-serif;
  }
  .div-7 {
    display: flex;
    color: #000;
    align-self: center;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 14px Gilroy-Medium, sans-serif;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .home {
    color: #f25822;
    font-family: "GilroySemiBold-☞", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  .home-and {
    color: #000000;
    font-family: "GilroyMedium-☞", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  .div-8 {
    margin-top: 84px;
  }
  .div-9 {
    gap: 20px;
    display: flex;
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 0px;
  }
  .div-10 {
    display: flex;
    margin-top: 9px;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
  }
  .div-11 {
    color: #000;
    align-self: stretch;
    font: 400 60px Gilroy-Bold, sans-serif;
  }