* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header__link {
    color: rgb(71, 206, 13);
    font-size: 16px;
    line-height: 20px;
}

.header__link:hover {
    color: rgb(111, 82, 68);
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px; 
    color: #7D7987;  
}

.heads2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;   
}

